@font-face {
    font-family: 'KenVector Future';
    src: url('../assets/fonts/kenvector_future.ttf') format('truetype');
}

@font-face {
    font-family: 'KenVector Future Thin';
    src: url('../assets/fonts/kenvector_future_thin.ttf') format('truetype');
}

body {
    font-family: 'KenVector Future', sans-serif;
    background-color: #111;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

.content {
    text-align: center;
}

.back-button {
    position: absolute;
    top: 10px;
    left: 10px;
}

.channel {
    margin: 20px 0;
}

.reward-info {
    margin-top: 40px;
}

.name {
    margin: 10px 0;
}

.subscribe-button {
    padding: 20px 40px;
    font-size: 32px;
    font-family: 'KenVector Future', sans-serif;
    color: #111;
    background-color: blue;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}
